<%= render "background" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.sessions.new.title") %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">
      <%= render "form" %>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->
