<%= form_tag password_resets_path, class: "form-stacked" do %>
  <%= text_field_tag :identifier, params[:identifier], placeholder: t("views.password_resets._form.placeholders.identifier") %>

  <%= submit_tag t("views.password_resets._form.buttons.submit"), class: "button" %>

  <hr />

	<p><%= link_to_unless_current t("views.password_resets._form.copy.forgot_password"), new_password_reset_path  %></p>
<% end %>
