<div class="simple_captcha">
  <div class="simple_captcha_image">
    <%= simple_captcha_options[:image] %>
  </div>

  <%= label_tag simple_captcha_options[:label] %>

  <div class="simple_captcha_field">
    <%= simple_captcha_options[:field] %>
    <p class="hint"><%= t("views.simple_captcha._simple_captcha.hints.no_robots") %></p>
  </div>
</div>
