<%= render "background" %>

<div class="row">
  <div class="three columns">
    <section class="header">
      <header>
        <% if current_user.admin? && @user != current_user %>
          <h1><%= title t("views.users.edit.title_admin") %></h1>
        <% else %>
          <h1><%= title t("views.users.edit.title") %></h1>
        <% end %>
      </header>
    </section>
  </div><!-- /.three .columns -->
  <div class="nine columns">
    <section class="content">
      <%= render "form" %>
    </section><!-- /.content -->
 </div><!-- /.nine .columns -->
</div><!-- /.row -->
