<%= render "background" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.about.title") %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">

    <section class="content">
      <p class="lead">Needle in a Haystack Childcare is a specialist nanny referral agency; we work solely with families who have children with additional needs (and their siblings) in the Boston Metro area. We provide experienced nannies, buddies, mentors and childcare workers for positions that may be full or part-time, daily or live-in, temporary and permanent.</p>

      <p>We deal with placements for babies, children and teens with a range of additional needs including mild learning difficulties, physical or learning disability and emotional and behavioral needs.</p>

      <p>At Needle in a Haystack we understand that being a mainstream nanny and being a special needs nanny are two completely different roles&mdash;and they require different types of people.</p>

      <p>The Needle in a Haystack process involves extensive nanny screening, rigorous background checks and comprehensive family interviews to ensure a strong and nurturing relationship for both the family and the nanny. We know that families and nannies have a very personal relationship that isn't always easy, but our agency's goal is to find that perfect fit while providing our clients with an exceptional experience.</p>

      <p>Our goal is to make the process of locating, hiring, and retaining specialized care for your children as easy and stress-free as possible.  We meet this goal by providing your family with personalized attention and take the pain out of screening, scheduling, and vetting potential candidates.</p>

      <p><strong>We save time</strong>&mdash;We do the legwork for you and only send you candidates who match your specific needs.</p>

      <p><strong>We help you feel secure</strong>&mdash;The person you hire to care for your child has been fully prescreened, interviewed, and will pass stringent background checks. Our nannies are reliable, professional, and experienced.</p>

      <p><strong>We assist in improving quality of life</strong>&mdash;All Needle in a Haystack nannies are specially trained or have experience in providing child care services aimed at improving and modifying behavior, creating solid routines, and focusing on the strengths of your children.</p>

      <p>Needle in a Haystack Childcare works with your family to match specialized nannies to meet your needs. Needle in a Haystack will personally meet with your family to assess the needs of the children. We will collaborate with your family to determine the best possible match. When you engage the services of Needle in a Haystack, you can feel assured that you will be receiving not only great customer service but also a dedicated, detailed and personal experience that will leave you feeling confident that your child/children are being cared for by a compassionate, experienced professional.</p>


      <h3>Our Founder</h3>

      <p>Needle in a Haystack Childcare was founded by Robert Jones in Weston, MA.  Robert sought out to become an expert in caring for children on a full-time basis while employed as a counselor at a camp serving children with serious illnesses and conditions. Robert enjoyed working with children so much that he decided to continue his education and study the Art of Psychology while working as a full-time nanny.</p>

      <p>While working full-time, Robert graduated with a Bachelor of Arts in Psychology from Cambridge College in Cambridge, MA. After receiving his degree, Robert set his mind on studying abroad and expanding his experiences which led him to Roehampton University in London, UK where he received his Master’s in Education. During his time as a full time student, while both in Massachusetts and the UK, Robert has enjoyed many different positions highlighting his passion of helping children, specifically with special needs, ranging from Elementary School Teacher and Learning Support Specialist to Behaviour Technician and Nanny.</p>

      <p>His work has included collaborating with parents, teammates and other professionals while carrying out individualized lessons and behavioral plans, working in integrated classrooms as well as working 1:1 with children in home and community settings all the while providing a fun and loving but structured and firm environment for children.</p>
      
   

    



    
      <h2>How We Work?</h2>

      <p>Needle in a Haystack is a domestic referral agency that matches nannies with families who have special needs children. To engage our service and gain access to qualified and dedicated nannies able to care for your special needs child simply complete the family application and submit your information. Once we receive your information we will contact you right away:</p>

      <p>Please be as specific as possible when discussing your needs; we use this information when interviewing potential candidates. Once we receive your information, we will call you to set up a family interview. A consultant will come to your house and discuss further about your specific needs, meet your child/children and take a tour of the home. Any information gathered during the family interview is solely used for the purpose of matching your family with the perfect nanny and will not be used for any other purpose.</p>

      <p>After the family interview and the payment of the application fee/deposit, we begin our search and start interviewing potential candidates. We then complete all necessary background and reference checks. Once we are satisfied with our selected candidates, we will contact you for interview times and ensure all the candidates are available at the time as well. After the interview, we’ll discuss your opinions and impressions, feedback, and other related issues. Once the match is complete and you are satisfied with your selection, we require the placement fee within 5 days of the nanny accepting employment with your family.</p>





      <h2>What Type of Screenings Do We Complete?</h2>
   
      <p>Each candidate for childcare service undergoes extensive background checks after the face-to-face interview including:</p>


      <ol>
        <li>SSN Trace </li>
        <li>Multi-State Criminal Database Search</li>
        <li>Nationwide Sex Offender Registry Search </li>
        <li>County Criminal Search (7-Year Address History)</li>
        <li>DMV Driving Records </li>
        <li>Education Verification </li>
        <li>Employment Verification </li>
        <li>Credential Verification </li>
        <li>Reference checks</li>
        <li>Nannies are required to complete CPR and First Aid certification as a condition of placement in a household.</li>
      </ol>
    </section>

 </div><!-- /.six .columns .offset-by-six -->
</div><!-- /.row -->
