<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= yield(:title) %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">
      <table>
        <tr>
          <td>Consultation Deposit</td>
          <td>$250.00 (Non-refundable)</td>
        </tr>
        <tr>
          <td>Full-time Placements</td>
          <td>12% of the employee's gross annual salary</td>
        </tr>
        <tr>
          <td>Part-time Placement</td>
          <td>
            13% of the employee's gross annual salary.<br />
            Minimum placement fee is $1500.00.
          </td>
        </tr>
        <tr>
          <td>Temporary Positions</td>
          <td>
            Temporary fees are 100.00 per week<br />
            $35.00 per day (Up to 2 days)
           </td>
        </tr>                         
        <tr>
          <td>Babysitters and tutors database</td>
          <td>$50.00 per month</td>
        </tr>
      </table>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->
