<header>
  <div class="row">
    <div class="nine columns centered">
      <h1><%= yield(:title) %></h1>
      <%= image_tag("NIAHChildcare_logo_with_text-930x539.png") %>

      <h2><%= t("application.tagline_html") %></h2>
    </div>
  </div><!-- /.row -->
</header>
