<%= render "background", background: "09" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.nannies.title") %>
</h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">
      <p>Working as a nanny can be very different from other childcare positions. Because a nanny works within a private home, the lines between being an employee and a friend of the family can get blurred. It is a very personal job looking after someone&rsquo;s child, if your workplace is also your home, the lines can easily become less clear.</p> 

      <p>To make sure everyone knows where they stand and what is expected of them, it is imperative to set guidelines and have a clear grasp of individual roles. We will provide a contract so that specific details are written out and understood by both parties. It&rsquo;s very easy to assume on either side. It is usually easier with daily positions, but clarity is still needed.</p>

      <h2>Duties</h2>

      <p>The duties of a nanny are those that relate to the child. You will be responsible for providing a safe, stimulating environment for them, as well as making sure their clothes, bedrooms, toys, etc. are clean and tidy. You will be required to cook healthy meals and tidy up after the children. You will not be expected to do general cleaning or cooking for the family. </p>

      <h2>Different Titles</h2>

      <p>In addition to special needs nannies and babysitters; we also place tutors, mentors and buddies. Typically these are with older children who have a greater level of ability, but need assistance to enable them to access different levels of activities, education and socialization.</p>

      <h2>Children with Additional Needs</h2>

      <p>Working as a special needs nanny is very different from being a mainstream nanny. It is possible that at times you will be working alongside other professionals such as speech and language therapist, physical and occupational therapists and teachers. There can also be opportunities presented for training in various new areas.</p>

      <p>Sometimes our positions involve working on a one-to-one basis with a child with special needs, other times it may involve working with siblings as well. Where a child&rsquo;s special need is severe, it is unlikely that any other duties will be involved. </p>

      <p>As a special needs nanny, it is vital to remember that the parents of the child you are looking after may still be coming to terms with the fact that their child has a disability or illness. It is important that you remain sensitive to this. A good special needs nanny will be aware of a child&rsquo;s limitations, but also help them reach their full potential. First and foremost the child you are looking after is a child. It is secondary that they have additional needs.</p>

      <p>Because all of our positions are with babies and children with additional needs, we only recruit people who really want to work in this area&mdash;it is not an easy choice. Ideally you will have experience with children with special needs and this experience may come from a variety of settings: schools, voluntary work or even having a child or sibling with additional needs. If you have great mainstream experience, but no special needs experience, we may still be able to help you with one of our various positions. Every child is different and nannies and carers need to learn about each individual child&rsquo;s needs. On the job training will sometimes be available as well. </p>

      <p>The most important criteria&mdash;is having the right attitude, to be able to see the needs of the whole family and to want to help a child reach their potential, whatever that may be. </p>

      <h2>Becoming Part of Our Team</h2>

      <p>To register you will need to complete a registration form, send in a copy of your resume with full employment/education history, provide three professional and three personal references. We will need to interview you&mdash;where ever possible we like to meet you face to face, if you really live too far away, we can conduct a Skype interview. We will need to see your original documents.</p>

      <p>You will also need to send your resume. Please make sure your resume has no gaps and includes the months of employment as well as years.</p>

      <p>Please make sure that all the references you provide have a current telephone number and full address. It may be a good idea to call them yourself to make sure the number is still valid and to let them know that they will be asked for a reference for you.</p>

      <p>Once we have your form and resume, we will need to interview you. Please bring the following document with you to the interview.</p>

      <ol>
        <li>A recent passport sized photograph of yourself </li>
        <li>Resume </li>
        <li>Social Security Card </li>
        <li>Your passport (including visa details where relevant), or birth certificate</li>
        <li>Driving license </li>
        <li>Any Qualifications</li>
      </ol>

      <h3>After Placement Support</h3>

      <p>We understand that working with children with additional needs can be very demanding. We will call both the nanny/carer and parent within the first week of work and then a couple of weeks into the employment to check in and make sure that there are no issues. You are of course welcome to call the agency at any time.</p>



      <h2>Employment Contracts</h2>

      <p>We will provide a contract of employment that is agreed between employee and employer. This is a formal document that covers both employer and employee against specific events, and includes details that are specific to nannies/ childcare workers. Working in a personal environment means that there are issues that are often not covered in a regular employment contract, especially for nannies who live in.</p>

      <p>Our minimum requirements for all nanny jobs are as follows:</p>
      <ul>
        <li>3 recent, professional, full-time child care experiences, </li>
        <li>Current valid US driver’s license</li>
        <li>BA/BS degree or a minimum of 5 years experience, 2 of which with special needs, for nanny candidates.</li>
        <li>The ability to make a 12 month commitment with a family</li>
        <li>Non-smoker </li>
        <li>Competent swimmer</li>
        <li>Fluency with the English language </li>
        <li>Legal right to work in this country without limitations</li>
      </ul>
    </section>

  </div><!-- /.twelve .columns -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_nannies').addClass('active');
</script>
