<%= render "background" %>

<div class="row">
  <div class="four columns">
    <section class="header">
      <header>
        <h1><%= title t("views.nanny_portraits.show.title") %></h1>
      </header>
    </section>
  </div><!-- /.three .columns -->
  <div class="eight columns">
    <section class="content">
      <p class="right"><%= link_to t("views.nanny_portraits.show.links.edit"), edit_nanny_portrait_path(@nanny_portrait) %></p>
      <hr />
    </section><!-- /.content -->
 </div><!-- /.nine .columns -->
</div><!-- /.row -->
